<% include header %>


<nav>
  <ul>
    <li><a href="/categorieen/<%- 0%>"><%- categorieen[0] %></a>
    <li><a href="/categorieen/<%- 1%>"><%- categorieen[1] %></a>
    <li><a href="/categorieen/<%- 2%>"><%- categorieen[2] %></a>
    </ul>
</nav>

<h1><a href="/"><< back </a> </h1>


<h2>Error 404: Page not found</h2>


<% include footer %>
