<% include header %>

<h1>WHAT'S NEWS?</h1>


<nav>
  <ul>
    <li><a href="/categorieen/<%- 0%>"><%- categorieen[0] %></a>
    <li><a href="/categorieen/<%- 1%>"><%- categorieen[1] %></a>
    <li><a href="/categorieen/<%- 2%>"><%- categorieen[2] %></a>
    </ul>
</nav>

<h3><a href="/">Homepage</a>>><%- categorieen[id] %></h3>

  <% for (var i = 0; i < items.length; i++) { %>
    <% if (items[i].categorieen.indexOf(categorieen[id]) !== -1) { %>
      <section>
          <h2>
            <a href=/items/<%- items[i].id %>><%- items[i].titel %></a>
          </h2>
          <img src="/img/<%- items[i].afbeeldings %>" alt="<%- items[i].titel %>">
          <p><%- items[i].datum %></p>

          <p>
            <%- items[i].samenvatting %>
          </p>
          <hr>

      </section>
    <% } %>
  <% } %>

<% include footer %>
